.light-mode {
  --background: #ddd;
  --foreground: #222;
  --completed: #444;
  --button-hover: #666;

  --odd-todo-background: #888;
  --even-todo-background: #999;
}

:root {
  --background: #222;
  --foreground: #ddd;
  --completed: #bbb;
  --button-hover: #555;

  --odd-todo-background: #333;
  --even-todo-background: #444;
}

* {
  transition: all 0.125s linear;
  font: 1em/1.62 sans-serif;
}

body {
  font-size: 150%;

  transition: background 0s;
  background: var(--background);
  color: var(--foreground);
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  width: 50%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 225%;
}

button {
  color: var(--foreground)
}

.add-todo {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo * {
  margin: 0 1em;
}

.add-todo input {
  width: 100%;
  height: 1.75em;
}

.add-todo button {
  background: none;
  border: none;
  font-size: 2.5rem;

  padding: none;
  border: none;
  margin: none;

  border-radius: 50%;
  width: 2.05em;
}

.add-todo button:hover {
  background-color: var(--button-hover);
}

.todo-list {
  width: 100%;

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-list li {
  opacity: 0;
  transition: opacity 0.25s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 1rem;

  background-color: var(--odd-todo-background);
}

.todo-list li.visible {
  opacity: 1;
}

.todo-list li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.todo-list li:nth-child(even) {
  background-color: var(--even-todo-background);
}

.todo-text {
  width: 100%;
  display: block;
  font-size: 115%;

  text-decoration-thickness: 5px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: var(--completed);
}

.todo-delete, .todo-complete {
  background: none;
  border: none;
  font-size: 2.5rem;

  padding: none;
  border: none;
  margin: none;

  border-radius: 50%;
  width: 1.95em;
  margin-left: 1rem;
}

.todo-delete:hover, .todo-complete:hover {
  background-color: var(--button-hover);
}